<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Custom/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Custom/style.css">
    <link rel="stylesheet" href="~/Content/Custom/responsive.css">
    <link rel="stylesheet" href="~/fonts/Custom/css/font-awesome.css">
    <title>@ViewBag.Title</title>
    <style>
        #home {
            background: url(../../Content/Custom/banner-with-overlay.jpg);
            min-height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/Custom/jquery.js"></script>
    <script src="~/Scripts/Custom/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
