@{
    ViewBag.Title = "Home";
    ViewBag.NavTitle = "Home";
}
<section id="home">
    <img src="~/images/home/banner-with-overlay.jpg" id="home-img" alt="Home Image" />
    <div id="home-content">
        <div class="container">
            <div class="home-inner">
                <h2>Download Free/Paid Notes </br> or Sale your Book</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas,<br> illum eaque blanditiis porro ex dignissimos dolor qui debitis!</p>
                <a class="btn-inner" href="/Home/FAQ" role="button">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>
<section id="home-about">
    <div id="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-heading">
                        <h4>About</h4>
                        <h4>NotesMarketPlace</h4>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-paragraph">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis incidunt doloremque tenetur, praesentium mollitia ratione facilis quaerat, veritatis ducimus necessitatibus id. Asperiores itaque earum facere eum. Rerum voluptas unde modi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum saepe labore, perspiciatis fuga nam itaque laudantium repudiandae!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt beatae sint assumenda nulla, velit id animi voluptate tenetur eveniet incidunt aut? Eaque facilis minus, corporis accusantium iusto vero aspernatur quaerat?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home-how_it_work">
    <div id="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="how-heading">
                        <h3>How it Works</h3>
                    </div>
                </div>
            </div>
            <div class="how-content">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-center">
                        <div class="home-image">
                            <img class="" src="~/images/home/download.png" alt="Image" />
                        </div>
                        <h4>Download Free/Paid Notes</h4>
                        <p>Get Material for your</p>
                        <p style="margin-bottom: 30px;">Course etc.</p>
                        <a href="/Home/Search" class="btn-work" role="submit">DOWNLOAD</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="home-image">
                            <img class="" src="~/images/home/seller.png" alt="Image" />
                        </div>
                        <h4 class="how-responsive">Seller</h4>
                        <p>Upload and Download Course</p>
                        <p style="margin-bottom: 30px;">and Material etc.</p>
                        <a href="/Notes/Index" class="btn-work" role="submit">SELL BOOK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="home-customer">
    <div id="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="customer-heading">What Our Customers are Saying</h3>
                </div>
            </div>
            <div class="customer-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="customer-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="image-fluid rounded-circle" src="~/images/home/customer-1.png" alt="Image" />
                                </div>
                                <div class="col-md-9">
                                    <div class="customer-details">
                                        <h4>Walter Meller</h4>
                                        <p>Founder & CEO,Matrix Group</p>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-view">
                                <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi illum pariatur alias ducimus saepe dolorem."</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="customer-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="image-fluid rounded-circle" src="~/images/home/customer-2.png" alt="Image" />
                                </div>
                                <div class="col-md-9">
                                    <div class="customer-details">
                                        <h4>Jonnie Riley</h4>
                                        <p>Employee, Curious Snakcs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-view">
                                <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi illum pariatur alias ducimus saepe dolorem."</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="customer-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="image-fluid rounded-circle" src="~/images/home/customer-3.png" alt="Image" />
                                </div>
                                <div class="col-md-9">
                                    <div class="customer-details">
                                        <h4>Amilia Luna</h4>
                                        <p>Teacher,Saint Joseph High School</p>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-view">
                                <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi illum pariatur alias ducimus saepe dolorem."</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="customer-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="image-fluid rounded-circle" src="~/images/home/customer-4.png" alt="Image" />
                                </div>
                                <div class="col-md-9">
                                    <div class="customer-details">
                                        <h4>Daniel Cardos</h4>
                                        <p>Software Engineer ,Infinitum Company</p>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-view">
                                <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi illum pariatur alias ducimus saepe dolorem."</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>